.card{
    background-color: #2B2B2B;
    width: 100%;
    margin-bottom: 60px;
    border-radius: 20px;
}
.card a{
    color: #ffffff;
}
.card .post-card{
    display: flex;
}
.card .post-card .post-card-image{
    width: 20%;
    /* height: 200px; */
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    position: relative;
    /* margin-bottom: 40px;
    position: relative;
    border-radius: 20px;
    overflow: hidden; */
}
.card .post-card .post-card-image img{
    width: 100%;
    height: inherit;
    object-fit: contain;
    transition: 600ms;
    border-radius: 10px;
    position: absolute;
    left: -50px;
}
.card .post-card .post-card-image img:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.card .post-card .post-card-content{
    width: 80%;
    padding: 20px 0;
}

.card .post-card .post-card-content .categories{
    width: 100%;
    padding: 10px;
}

.card .post-card .post-card-content .categorie{
    background-color: #F67280;
    padding: 2px 15px;
    border-radius: 10px;
    color: #ffffff;
    font-weight: 500;
    font-size: 14px;
    margin: 0 5px;
}
.card .post-card .post-card-content h5{
    margin: 1rem 0;
    font-size: 1.3rem;
}
.card .post-card .post-card-content .explanation{
    color: #D9D9D4;
    margin-bottom: 1rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical; 
    overflow:hidden;

}

.card .post-card .post-card-content .post-card-info{
    width: 100%;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card .post-card .post-card-content .post-card-info ul{
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #D9D9D4;
}
.card .post-card .post-card-content .post-card-info ul li{
    margin: 0 5px;
}
.card .post-card .post-card-content .post-card-info ul .dot{
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background-color: #F67280;
}
.card .post-card .post-card-content .post-card-info ul .profile-photo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card .post-card .post-card-content .post-card-info ul .profile-photo img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 100%;
}

.card .post-card .post-card-content .post-card-info .blogDate{
    color: white;
    margin: 0 20px;
    opacity: .1;
    font-size: 14px;
}