section{
    background-color: #1D1D1D;
    display: flex;
    justify-content: center;
}

.leftBar{
    width: 20%;
    padding-top: 60px;
    position: relative; 
}
.leftBar .left-content{
    position: sticky;
    top: 2%;
    width: 100%;
    min-height: 100vh;
    border-radius: 20px;
    padding: 20px;
    border: 1px solid;
}

.rightBar{
    width: 20%;
    padding-top: 60px;
}
.rightBar .right-content{
    position: sticky;
    top: 2%;
    width: 100%;
    min-height: 100vh;
    border: 1px solid;
    border-radius: 20px;
    padding: 20px;
}

.content{
    width: 50%;
    padding:60px 50px 0 70px;
    min-height: 100vh;
}