section{
    background-color: #1D1D1D;
    display: flex;
    justify-content: center;
}

.leftBar{
    width: 40%;
    padding-top: 60px;
    position: relative;
}
.leftBar .left-content{
    position: sticky;
    top: 2%;
    border: 1px solid;
    width: 100%;
    min-height: 100vh;
}

.rightBar{
    width: 20%;
    padding-top: 60px;
}
.rightBar .right-content{
    position: sticky;
    top: 2%;
    border: 1px solid;
    width: 100%;
    min-height: 100vh;
}

.content{
    width: 60%;
    padding:60px 50px 0 70px;
    min-height: 100vh;
}