.login-container{
    width: 100%;
    height: 100vh;
    background-image: url('../images/27.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-operations{
    backdrop-filter: blur(20px);
    border: 3px solid #ffffff;
    text-align: center;
    width: 30%;
    height: 60vh;
    border-radius: 10px;
    padding: 50px;
}
.login-operations .login{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 40px auto;
}
.login-operations .login a{
    margin-top: 15px;
}

.login-operations input, .login-operations button{
    width: 100%;
    height: 28px;
    border: 1px solid #000;
    margin: 10px 0;
    padding-left: 10px;
}

.login-operations button{
    margin-top: 30%;
    margin-bottom: 20px;
    border-radius: 20px;
    background-image: linear-gradient(to right top, #f67280, #fa6473, #fc5665, #fe4556, #ff3147);
    color: #ffffff;
    cursor: pointer;
}